<!DOCTYPE html>
<html lang="en-US" class="wf-oswald-n3-active wf-oswald-n2-active wf-oswald-n4-active wf-oswald-n6-active wf-ptsans-n6-active wf-ptsans-n4-active wf-active">

<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow,noydir,noodp,noarchive,nosnippet">
	<title>Предпросмотр воронки - Сбор лидов</title>

	<link rel="profile" href="http://gmpg.org/xfn/11">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<style type="text/css">
		html,
		body {
			margin: 0;
			padding: 0;
		}

		html {
			background: rgba(0, 0, 0, .7);
		}
	</style>
	<style data-styled-components="isxxoE iukTrY fpojaj jTcgbf">
	.sc-bdVaJa {} .jTcgbf{background:#ff6400 !important;border-bottom-left-radius:0px !important;border-bottom-right-radius:0px !important;border-bottom-width:0px !important;border-color:rgba(0,0,0,.35) !important;border-left-width:0px !important;border-right-width:0px !important;border-style:none !important;border-top-left-radius:0px !important;border-top-right-radius:0px !important;border-top-width:0px !important;box-shadow:0px 0px 0px 0px #ffffff !important;color:#ffffff !important;font-family:Oswald !important;font-size:18px !important;font-weight:600 !important;-webkit-letter-spacing:0 !important;-moz-letter-spacing:0 !important;-ms-letter-spacing:0 !important;letter-spacing:0 !important;line-height:1 !important;margin-bottom:10px !important;margin-left:0px !important;margin-right:0px !important;margin-top:0px !important;max-width:100% !important;padding-bottom:17px !important;padding-left:12px !important;padding-right:12px !important;padding-top:20px !important;text-transform:uppercase !important;-webkit-text-decoration:none !important;text-decoration:none !important;width:100% !important;cursor:pointer;} .jTcgbf.withIcon{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-direction:row;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;} .jTcgbf.withIcon:focus,.jTcgbf.withIcon:hover,.jTcgbf.withIcon.is-editing-hover{-ms-flex-direction:row;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;} .jTcgbf .atlanta-submit-icon--IUamfNiptrWUAhHssSsV{color:#ffffff !important;margin-right:NaNpx !important;} .jTcgbf .atlanta-hover-submit-icon--IUamfNiptrWUAhHssSsV{display:none !important;color:#000000 !important;margin-right:NaNpx !important;} .jTcgbf:focus,.jTcgbf:hover,.jTcgbf.is-editing-hover{background:#ffffff !important;box-shadow:0px 0px 0px 0px #ffffff !important;color:#ff6400 !important;font-family:Oswald !important;font-size:18px !important;font-weight:600 !important;-webkit-letter-spacing:0 !important;-moz-letter-spacing:0 !important;-ms-letter-spacing:0 !important;letter-spacing:0 !important;line-height:1 !important;text-transform:uppercase !important;-webkit-text-decoration:none !important;text-decoration:none !important;border-bottom-left-radius:0px !important;border-bottom-right-radius:0px !important;border-bottom-width:0px !important;border-color:rgba(0,0,0,.35) !important;border-left-width:0px !important;border-right-width:0px !important;border-style:none !important;border-top-left-radius:0px !important;border-top-right-radius:0px !important;border-top-width:0px !important;} .jTcgbf:focus .atlanta-hover-submit-icon--IUamfNiptrWUAhHssSsV,.jTcgbf:hover .atlanta-hover-submit-icon--IUamfNiptrWUAhHssSsV,.jTcgbf.is-editing-hover .atlanta-hover-submit-icon--IUamfNiptrWUAhHssSsV{display:inline-block !important;} .jTcgbf:focus .atlanta-submit-icon--IUamfNiptrWUAhHssSsV,.jTcgbf:hover .atlanta-submit-icon--IUamfNiptrWUAhHssSsV,.jTcgbf.is-editing-hover .atlanta-submit-icon--IUamfNiptrWUAhHssSsV{display:none !important;}
	/* sc-component-id: sc-bwzfXH */
	.sc-bwzfXH {} .fpojaj{margin-bottom:10px !important;} .fpojaj:focus.optin-loader:before,.fpojaj:hover.optin-loader:before,.fpojaj.is-editing-hover.optin-loader:before,.fpojaj:focus.optin-loader:after,.fpojaj:hover.optin-loader:after,.fpojaj.is-editing-hover.optin-loader:after{border-color:#60656f;} .fpojaj.optin-loader{position:relative;color:rgba(0,0,0,0) !important;} @-webkit-keyframes scale{from{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}to{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}} @keyframes scale{from{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}to{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}} @-webkit-keyframes opacity{from{opacity:1;}to{opacity:0;}} @keyframes opacity{from{opacity:1;}to{opacity:0;}} .fpojaj.optin-loader:before,.fpojaj.optin-loader:after{content:'';position:absolute;border-width:2px;border-style:solid;border-radius:50%;border-color:#60656f;width:26px;height:26px;left:50%;margin-left:-13px;top:50%;margin-top:-13px;opacity:0;-webkit-animation:scale 1.8s cubic-bezier(0.165,0.84,0.44,1), opacity 1.8s cubic-bezier(0.3,0.61,0.355,1);animation:scale 1.8s cubic-bezier(0.165,0.84,0.44,1), opacity 1.8s cubic-bezier(0.3,0.61,0.355,1);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;} .fpojaj.optin-loader:after{-webkit-animation-delay:0.9s;animation-delay:0.9s;}
	/* sc-component-id: sc-htpNat */
	.sc-htpNat {} .iukTrY::-webkit-input-placeholder{color:rgba(88,107,117,0.5);} .iukTrY::-moz-placeholder{color:rgba(88,107,117,0.5);} .iukTrY:-ms-input-placeholder{color:rgba(88,107,117,0.5);} .iukTrY::placeholder{color:rgba(88,107,117,0.5);}
	/* sc-component-id: sc-bxivhb */
	.sc-bxivhb {} .isxxoE{position:absolute !important;cursor:pointer;z-index:999;border:none;background-color:rgba(221,221,221,0);padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:27px;margin-right:27px;margin-bottom:27px;margin-left:27px;fill:#c2c7d7;border-radius:100%;box-shadow:0px 0px 0px 0px #33333;} .isxxoE:hover,.isxxoE.is-editing-hover{border:none;background-color:rgba(255,255,255,0);fill:#a1a4b1;}
	</style>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,200,400,600%7CPT+Sans:600,400" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js" async=""></script>
</head>

<body class="public-monster-link">

	<div id="om-ylaxmamw8fyw7aekao4h" class="Campaign CampaignType--popup " style="position: fixed; z-index: 888888888; top: 0px; right: 0px; bottom: 0px; left: 0px; zoom: 1; width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: auto; background: rgba(255, 255, 255, 0.7); border: 0px; border-radius: 0px; float: none; letter-spacing: normal; outline: none; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; line-height: 1; font-family: helvetica, arial, san-serif; box-shadow: none; -webkit-font-smoothing: antialiased; -webkit-appearance: none; display: block; opacity: 1;">
	    <div id="om-ylaxmamw8fyw7aekao4h-optin" class="atlanta Campaign__canvas" style="width: 100%; max-width: 900px; position: absolute; top: 39.5px; display: block; left: 510px; margin-bottom: 0px; transition: top 0.2s ease 0s, left 0.2s ease 0s, margin-bottom 0.2s ease 0s;"
	        role="dialog" aria-live="polite">
	        <div class="Campaign__innerWrapper" style="outline:none;position:relative" tabindex="0">
	            <div class="Campaign__alphaLayer" style="background:#edf0f7;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-color:#b1bacb;border-style:solid;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;box-shadow:0px 20px 70px 0px rgba(45, 61, 108, 0.2);position:relative">
	                <div class="Campaign__bravoLayer">
	                    <div class="Campaign__content" style="width:100%;max-width:900px;position:relative;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;background:none">
	                        <style type="text/css">
	                            html div#om-ylaxmamw8fyw7aekao4h .atlanta applet,html div#om-ylaxmamw8fyw7aekao4h .atlanta object,html div#om-ylaxmamw8fyw7aekao4h .atlanta div,html div#om-ylaxmamw8fyw7aekao4h .atlanta span,html div#om-ylaxmamw8fyw7aekao4h .atlanta iframe,html div#om-ylaxmamw8fyw7aekao4h .atlanta h1,html div#om-ylaxmamw8fyw7aekao4h .atlanta h2,html div#om-ylaxmamw8fyw7aekao4h .atlanta h3,html div#om-ylaxmamw8fyw7aekao4h .atlanta h4,html div#om-ylaxmamw8fyw7aekao4h .atlanta h5,html div#om-ylaxmamw8fyw7aekao4h .atlanta h6,html div#om-ylaxmamw8fyw7aekao4h .atlanta p,html div#om-ylaxmamw8fyw7aekao4h .atlanta blockquote,html div#om-ylaxmamw8fyw7aekao4h .atlanta pre,html div#om-ylaxmamw8fyw7aekao4h .atlanta a,html div#om-ylaxmamw8fyw7aekao4h .atlanta abbr,html div#om-ylaxmamw8fyw7aekao4h .atlanta acronym,html div#om-ylaxmamw8fyw7aekao4h .atlanta address,html div#om-ylaxmamw8fyw7aekao4h .atlanta big,html div#om-ylaxmamw8fyw7aekao4h .atlanta cite,html div#om-ylaxmamw8fyw7aekao4h .atlanta code,html div#om-ylaxmamw8fyw7aekao4h .atlanta del,html div#om-ylaxmamw8fyw7aekao4h .atlanta dfn,html div#om-ylaxmamw8fyw7aekao4h .atlanta em,html div#om-ylaxmamw8fyw7aekao4h .atlanta img,html div#om-ylaxmamw8fyw7aekao4h .atlanta ins,html div#om-ylaxmamw8fyw7aekao4h .atlanta kbd,html div#om-ylaxmamw8fyw7aekao4h .atlanta q,html div#om-ylaxmamw8fyw7aekao4h .atlanta s,html div#om-ylaxmamw8fyw7aekao4h .atlanta samp,html div#om-ylaxmamw8fyw7aekao4h .atlanta small,html div#om-ylaxmamw8fyw7aekao4h .atlanta strike,html div#om-ylaxmamw8fyw7aekao4h .atlanta strong,html div#om-ylaxmamw8fyw7aekao4h .atlanta sub,html div#om-ylaxmamw8fyw7aekao4h .atlanta sup,html div#om-ylaxmamw8fyw7aekao4h .atlanta tt,html div#om-ylaxmamw8fyw7aekao4h .atlanta var,html div#om-ylaxmamw8fyw7aekao4h .atlanta b,html div#om-ylaxmamw8fyw7aekao4h .atlanta u,html div#om-ylaxmamw8fyw7aekao4h .atlanta center,html div#om-ylaxmamw8fyw7aekao4h .atlanta dl,html div#om-ylaxmamw8fyw7aekao4h .atlanta dt,html div#om-ylaxmamw8fyw7aekao4h .atlanta dd,html div#om-ylaxmamw8fyw7aekao4h .atlanta ol,html div#om-ylaxmamw8fyw7aekao4h .atlanta ul,html div#om-ylaxmamw8fyw7aekao4h .atlanta li,html div#om-ylaxmamw8fyw7aekao4h .atlanta fieldset,html div#om-ylaxmamw8fyw7aekao4h .atlanta form,html div#om-ylaxmamw8fyw7aekao4h .atlanta label,html div#om-ylaxmamw8fyw7aekao4h .atlanta legend,html div#om-ylaxmamw8fyw7aekao4h .atlanta table,html div#om-ylaxmamw8fyw7aekao4h .atlanta caption,html div#om-ylaxmamw8fyw7aekao4h .atlanta tbody,html div#om-ylaxmamw8fyw7aekao4h .atlanta tfoot,html div#om-ylaxmamw8fyw7aekao4h .atlanta thead,html div#om-ylaxmamw8fyw7aekao4h .atlanta tr,html div#om-ylaxmamw8fyw7aekao4h .atlanta th,html div#om-ylaxmamw8fyw7aekao4h .atlanta td,html div#om-ylaxmamw8fyw7aekao4h .atlanta article,html div#om-ylaxmamw8fyw7aekao4h .atlanta aside,html div#om-ylaxmamw8fyw7aekao4h .atlanta canvas,html div#om-ylaxmamw8fyw7aekao4h .atlanta details,html div#om-ylaxmamw8fyw7aekao4h .atlanta embed,html div#om-ylaxmamw8fyw7aekao4h .atlanta figure,html div#om-ylaxmamw8fyw7aekao4h .atlanta figcaption,html div#om-ylaxmamw8fyw7aekao4h .atlanta footer,html div#om-ylaxmamw8fyw7aekao4h .atlanta header,html div#om-ylaxmamw8fyw7aekao4h .atlanta hgroup,html div#om-ylaxmamw8fyw7aekao4h .atlanta menu,html div#om-ylaxmamw8fyw7aekao4h .atlanta nav,html div#om-ylaxmamw8fyw7aekao4h .atlanta output,html div#om-ylaxmamw8fyw7aekao4h .atlanta ruby,html div#om-ylaxmamw8fyw7aekao4h .atlanta section,html div#om-ylaxmamw8fyw7aekao4h .atlanta summary,html div#om-ylaxmamw8fyw7aekao4h .atlanta time,html div#om-ylaxmamw8fyw7aekao4h .atlanta mark,html div#om-ylaxmamw8fyw7aekao4h .atlanta audio,html div#om-ylaxmamw8fyw7aekao4h .atlanta video,html div#om-ylaxmamw8fyw7aekao4h .atlanta i:not(.fa){margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
	                        </style>
	                        <style type="text/css">
	                            html div#om-ylaxmamw8fyw7aekao4h .atlanta *{box-sizing:border-box}
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta .Element__content {min-height: 30px}
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta button {width: auto;}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input:not([type="submit"]),
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper select,
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper textarea {
	                            		background-color: #fff;
	                            		width: 100%;
	                            		height: auto;
	                            		border: 1px solid;
	                            		padding: 10px 6px;
	                            		overflow: hidden;
	                            		margin: 0;
	                            		vertical-align: middle;
	                            		font-style: normal;
	                            		width: 100%;
	                            		line-height: 1.5
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper textarea {
	                            		height: 60px;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper textarea,
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input {
	                            		overflow: hidden;
	                            		-webkit-appearance: none;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input[type=submit],
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper button {
	                            		cursor: pointer;
	                            	}



	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input[type=checkbox],
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input[type=radio] {
	                            		width: auto !important;
	                            		outline: invert none medium;
	                            		padding: 0;
	                            		margin: 0;
	                            		height: auto !important;
	                            		box-shadow: none;
	                            		-webkit-box-shadow: none;
	                            		-moz-box-shadow: none;
	                            		display: inline;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input[type=checkbox] {
	                            		-webkit-appearance: checkbox;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper input[type=radio] {
	                            		-webkit-appearance: radio;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper.FieldsElement--vertical input {

	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper.FieldsElement--horizontal input,
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper.FieldsElement--horizontal button {

	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper.FieldsElement--horizontal .FieldsElement--privacyText {

	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper strong {
	                            		font-weight: bolder;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper em {
	                            		font-style: italic;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper ul {
	                            		list-style-type: disc;
	                            		margin: 1em 0 1em 1.5em;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper ol {
	                            		list-style: decimal;
	                            		margin: 1em 0 1em 1.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper sup {
	                            	top: -0.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper sub {
	                            	bottom: -0.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper sub,
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper sup {
	                            		font-size: 75%;
	                            		line-height: 0;
	                            		position: relative;
	                            		vertical-align: baseline;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper p {
	                            		margin: 0 0 5px;
	                            		font-weight: inherit !important;
	                            		line-height: inherit !important;
	                            		letter-spacing: inherit !important;
	                            		text-transform: inherit !important;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper p:first-of-type {
	                            		margin-top: 0;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-FieldsElement--wrapper p:last-of-type {
	                            		margin-bottom: 0;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content strong {
	                            		font-weight: bolder;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content em {
	                            		font-style: italic;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content ul {
	                            		list-style-type: disc;
	                            		margin: 1em 0 1em 1.5em;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content ol {
	                            		list-style: decimal;
	                            		margin: 1em 0 1em 1.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content sup {
	                            		top: -0.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content sub {
	                            		bottom: -0.5em;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content sub,
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content sup {
	                            		font-size: 75%;
	                            		line-height: 0;
	                            		position: relative;
	                            		vertical-align: baseline;
	                            	}

	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content p {
	                            		margin: 0 0 5px;
	                            		font-weight: inherit !important;
	                            		line-height: inherit !important;
	                            		letter-spacing: inherit !important;
	                            		text-transform: inherit !important;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content p:first-of-type {
	                            		margin-top: 0;
	                            	}
	                            	html div#om-ylaxmamw8fyw7aekao4h .atlanta-TextElement--content p:last-of-type {
	                            		margin-bottom: 0;
	                            	}

	                            	@media screen and (min-width: 1px) and (max-width: 720px) {
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta-ClosePosition--top-right { right: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta-ClosePosition--top-left { left: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta-ClosePosition--bottom-right { right: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h .atlanta-ClosePosition--bottom-left { left: 0 !important }

	                            		html div#om-ylaxmamw8fyw7aekao4h .Row .Row__content { flex-direction: column; }
	                            		html div#om-ylaxmamw8fyw7aekao4h .Row .Row__content .Column { width: 100% !important; }

	                            		html div#om-ylaxmamw8fyw7aekao4h .FieldsElement--horizontal input,
	                            		html div#om-ylaxmamw8fyw7aekao4h .FieldsElement--horizontal button {
	                            			width: 100% !important;
	                            		}
	                            	}@media screen and (min-width: 1px) and (max-width: 400px) {
	                            		html div#om-ylaxmamw8fyw7aekao4h .CampaignType--slide {
	                            			right: auto !important;
	                            			max-width: 100% !important;
	                            		}
	                            	}
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .atlanta-ClosePosition--top-right { right: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .atlanta-ClosePosition--top-left { left: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .atlanta-ClosePosition--bottom-right { right: 0 !important }
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .atlanta-ClosePosition--bottom-left { left: 0 !important }

	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .Row .Row__content { flex-direction: column; }
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .Row .Row__content .Column { width: 100% !important; }

	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .FieldsElement--horizontal input,
	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .FieldsElement--horizontal button {
	                            			width: 100% !important;
	                            		}

	                            		html div#om-ylaxmamw8fyw7aekao4h.MagicMediaQuery-mobile .CampaignType--slide {
	                            			right: auto !important;
	                            			max-width: 100% !important;
	                            		}
	                        </style>
	                        <style type="text/css"></style>
	                        <div class="Row">
	                            <div class="Row__content">
	                                <div style="display:flex;width:100%;flex-direction:inherit;background:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;box-shadow:0px 0px 0px 0px #ffffff;max-width:100%">
	                                    <div class="Column" style="display:inline-block;width:50%">
	                                        <div class="Column__content" style="height:100%">
	                                            <div style="background:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;box-shadow:0px 0px 0px 0px #ffffff;max-width:100%;height:100%">
	                                                <div class="Element">
	                                                    <div class="Element__content">
	                                                        <div class="atlanta-ImageElement--wrapper LI9KQy3COYMw07kJPUn5" style="background:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;box-shadow:0px 0px 0px 0px #ffffff;width:auto;max-width:100%;position:relative;overflow:visible;text-align:left;font-size:0">
	                                                            <div class="atlanta-ImageElement--content"><img style="max-width:100%;display:inline;border-style:solid;border-color:#ffffff;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;box-shadow:0px 0px 0px 0px #ffffff;opacity:1;width:100%"
																																{% if funnel.image %}
                                                                    src="{{ funnel.image.fileUrl }}"
                                                                {% else %}
                                                                    src="https://a.monstercampaigns.com/users/ee2cca23eb5c/images/33da323feabf1554131949-2.jpg"
                                                                {% endif %}
	                                                                 alt="">
																															</div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="Column" style="display:inline-block;width:50%">
	                                        <div class="Column__content" style="height:100%">
	                                            <div style="background:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;padding-top:03%;padding-right:10%;padding-bottom:0%;padding-left:10%;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;box-shadow:0px 0px 0px 0px #ffffff;max-width:100%;height:100%">
	                                                <div class="Element">
	                                                    <div class="Element__content">
	                                                        <div class="atlanta-TextElement--wrapper uK2D5So27u3vAZnkZOLH" style="background-color:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;box-shadow:0px 0px 0px 0px #ffffff;width:auto;max-width:100%">
	                                                            <div class="atlanta-TextElement--content" style="text-align:left;font-family:Montserrat;color:#000000;font-size:16px;font-weight:300;line-height:1.4;letter-spacing:3.1px;text-transform:uppercase;text-decoration:none">
	                                                                <p></p>
	                                                                <p><span style="color: rgb(255,100,0);font-size: 20px;font-family: Oswald;">{{funnel.title}}</span></p>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="Element">
	                                                    <div class="Element__content">
	                                                        <div class="atlanta-TextElement--wrapper SPyKzl8L8h62aSeNzQzK" style="background-color:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;box-shadow:0px 0px 0px 0px #ffffff;width:auto;max-width:100%">
	                                                            <div class="atlanta-TextElement--content" style="text-align:left;font-family:Montserrat;color:#000000;font-size:16px;font-weight:200;line-height:1.8;letter-spacing:0.4px;text-transform:none;text-decoration:none">
	                                                                <p><span style="font-size: 18px;font-family: Oswald;">{{funnel.description}}</span></p>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="Element">
	                                                    <div class="Element__content">
	                                                        <div class="atlanta-FieldsElement--wrapper IUamfNiptrWUAhHssSsV FieldsElement--vertical" style="background:transparent;border-style:solid;border-width:0px;border-color:#000000;border-top-left-radius:0%;border-top-right-radius:0%;border-bottom-right-radius:0%;border-bottom-left-radius:0%;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:10px;margin-right:0px;margin-bottom:0px;margin-left:0px;box-shadow:0px 0px 0px 0px #ffffff;width:auto;max-width:100%;position:relative">
	                                                            <div class="atlanta-FieldsElement--content" style="display:block;flex-wrap:wrap;position:relative"><input type="text" id="atlanta-field-comments" name="atlanta-comments" class="atlanta-field-comments" placeholder="" style="visibility:hidden;position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;z-index:-1;max-width:1px;min-width:1px"
	                                                                    autocomplete="off" value="" aria-live="polite" tabindex="2"><input type="text" class="atlanta-field-name sc-htpNat iukTrY" id="atlanta-field-name" name="atlanta-name" placeholder="Ваше имя"
	                                                                    style="color:#586b75;font-size:18px;font-weight:400;font-family:PT Sans;background:#ffffff;border-style:solid;border-color:rgba(0,0,0,.35);border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;display:block;margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;padding-top:14px;padding-right:12px;padding-bottom:14px;padding-left:12px;max-width:100%;width:100%"
	                                                                    tabindex="3" required="" data-name="Name" data-error="The Name field is required." aria-label="Ваше имя" data-fieldid="nameInput" value="" aria-live="polite"><input type="email" class="atlanta-field-email sc-htpNat iukTrY"
	                                                                    id="atlanta-field-email" name="atlanta-email" placeholder="На какой email адрес отправить книгу?" style="color:#586b75;font-size:18px;font-weight:400;font-family:PT Sans;background:#ffffff;border-style:solid;border-color:rgba(0,0,0,.35);border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;display:block;margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;padding-top:14px;padding-right:12px;padding-bottom:14px;padding-left:12px;max-width:100%;width:100%"
	                                                                    aria-live="polite" tabindex="4" required="" data-name="Email Address" aria-label="На какой email адрес отправить книгу?" data-fieldid="emailInput" value="">
	                                                                <div class="atlanta-ButtonElement--wrapper IUamfNiptrWUAhHssSsV"
	                                                                    style="text-align:left">
	                                                                    <div class="atlanta-ButtonElement--content"><button class="atlanta-field-submit sc-bwzfXH fpojaj sc-bdVaJa jTcgbf" id="atlanta-FieldsElementButton--IUamfNiptrWUAhHssSsV" name="atlanta-submit" icon="atlanta-submit-icon--IUamfNiptrWUAhHssSsV"
	                                                                            title="{{ funnel.buttonText }}" value="{{ funnel.buttonText }}" aria-live="polite" type="submit" tabindex="5">{{ funnel.buttonText }}</button></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
		// Set the public variable to true.
		document.addEventListener('om.Main.getCampaigns', function(event) {
			var main = event.detail.Main;
			main.defaults.public = true;
		});
	</script>
</body>
<div></div>

</html>
