<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HBAdmin</title>
    <link href="{{ asset('bundles/hbadmin/') }}vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/hbadmin/') }}vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/hbadmin/') }}css/style.css" rel="stylesheet">

</head>

<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">


                        {% for message in app.flashes('success') %}
                            <div class="alert alert-primary" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}


                        <h3>Подтверджение данных</h3>
                        <form method="post" action="{{ path('hb.customer.signup.confirm_data', {hash: hash}) }}">
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Подтвердить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/hbadmin/') }}vendors/js/jquery.min.js"></script>
<script src="{{ asset('bundles/hbadmin/') }}vendors/js/popper.min.js"></script>
<script src="{{ asset('bundles/hbadmin/') }}vendors/js/bootstrap.min.js"></script>

<script type="text/javascript">
  window.addEventListener('load', function(){
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("8RZQWgwC95FfphdUwXmFnWDN3bxg41CQ");
    analytics.page();
    }}();
  })
</script>

</body>
</html>