<!doctype html>
<html lang="ru-RU" class="no-js">

<head>
    {#<link rel="stylesheet" type="text/css" href="https://webinar.heartbeat.education/app/cache/minify/66a04.css" media="all"/>#}
    <link rel="stylesheet" type="text/css" href="//webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/dist/app.min.css" media="all"/>
    <meta charset="UTF-8">
    <title>Единоразовое предложение</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-57x57.png?v=1">
    <link rel="apple-touch-icon" sizes="60x60"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-60x60.png?v=1">
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-72x72.png?v=1">
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-76x76.png?v=1">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-114x114.png?v=1">
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-120x120.png?v=1">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-144x144.png?v=1">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-152x152.png?v=1">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/apple-icon-180x180.png?v=1">
    <link rel="icon" type="image/png" sizes="192x192"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/android-icon-192x192.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/favicon-96x96.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/favicon-16x16.png?v=1">
    <link rel="manifest"
          href="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="https://webinar.heartbeat.education/app/themes/heartwebinars/assets/mid2018/img/favicon/ms-icon-144x144.png?v=1">
    <meta name="theme-color" content="#FF6400">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel='dns-prefetch' href='//cdn.jsdelivr.net'/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='stylesheet' id='gfonts-css'
          href='//fonts.googleapis.com/css?family=Lato%3A400%2C700%7COpen+Sans%3A300%2C400%2C700%7CPlayfair+Display%7CRoboto%3A400%2C700%7CLobster%7CRoboto+Condensed%3A400%2C700%7CUbuntu%7CSource+Sans+Pro&#038;subset=cyrillic%2Clatin%2Ccyrillic-ext'
          media='all'/>
    <script type='text/javascript'
            src='//cdn.jsdelivr.net/combine/npm/jquery@3.3.1,npm/jquery-migrate@3.0.1,npm/blazy@1.8.2,npm/magnific-popup@1.1.0,npm/slick-carousel@1.8.1,npm/intl-tel-input@12.1.15/build/js/utils.min.js,npm/choices.js@3.0.4'></script>
    <link rel='https://api.w.org/' href='https://webinar.heartbeat.education/wp-json/'/>
    <link rel="alternate" type="application/json+oembed"
          href="https://webinar.heartbeat.education/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwebinar.heartbeat.education%2Fmasterclass-21-sekret-po-fotografii%2Fthanks-lm-slyadnev%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://webinar.heartbeat.education/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwebinar.heartbeat.education%2Fmasterclass-21-sekret-po-fotografii%2Fthanks-lm-slyadnev%2F&#038;format=xml"/>
    <style>
        .img-responsive {
            /*background-size: 100%;*/
            max-height: 480px;
        }
        .sub-title {
            font-size: 1em !important;
            font-weight: 400;
        }
    </style>
</head>

<body class="page-template page-template-tpl-webinar_acf page-template-tpl-webinar_acf-php thanks-lm-slyadnev"
      data-type="webinarjam" data-webid="e75c81df94" data-pid="863" data-design="mid2018">
<div class="main-wrapper">
    <main class="content content-full js-padboth">
        <section id="block-thanksForRegistration-1" class="ccomf cctop block-thanksForRegistration-section">
            <div class="cctop_info">
                {#<p style="text-align: center;"><span style="font-size: 24px;">Вы попали на эту страницу так как зашли на станицу вебинара который прошёл, но ничего страшного!</span></p>
                <p style="text-align: center;"><span style="font-size: 20px;">Ниже вы можете купить запись вебинара и много бонусов.</span></p>#}
                {#<p style="text-align: center;"><span style="font-size: 24px;">{{ funnel.title }}</span></p>#}
                <p style="text-align: center;"><span style="font-size: 20px;">{{ funnel.thankText }}</span></p>
            </div>
        </section>
        <section id="block-contentSeamless-2" class="block-contentSeamless-section white">
            <p class="micon_h1">
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <div class="review_text text-center">

                            {#<p style="text-align: center;"><strong><span style="font-size: 24px;">Однако любая теория ровным счетом ничего не стоит без практики.</span></strong></p>
                            <p style="text-align: center;"><span style="font-size: 20px;"><strong>Поэтому, в качестве поддержки ваших практических навыков, </strong></span><br />
                                <span style="font-size: 20px;"><strong>я хочу сделать вам уникальное предложение:</strong></span></p>
                            <p style="text-align: center;"><span style="color: #ff6600;"><strong><span style="font-size: 24px;">Запись Мастер-класса &#171;Ваши фотографии изменят мир<br />
21 секрет профессионального фотографа&#187; <br /> + <br /> Набор композиционных сеток для вашего фотоаппарата.</span></strong>
                                </span>
                            </p>#}

{#                            <p style="text-align: center;">
                                <strong><span style="font-size: 24px;">{{ funnel.pageTitle }}</span></strong>
                            </p>
                            <p style="text-align: center;">
                                <span style="font-size: 20px;"><strong>{{ funnel.pageSubTitle }}</strong></span>
                            </p>
                            <p style="text-align: center;">
                                <span style="color: #ff6600;"><strong><span
                                                style="font-size: 24px;">{{ funnel.pageOffer }}</span></strong></span>
                            </p>#}
                            <p style="text-align: center;">
                                <strong><span style="font-size: 24px;">{{ funnel.description }}</span></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% for offer in funnel.offers %}
            <section id="block-specialOfferSmall-3" class="block-specialOfferSmall-section section ccomf"
                     style="padding:0">
                <div class="container container-mw">
                    <div class="row">
                        <div class="soffer_bt dfc aic">
                            <div class="col-xs-12 col-md-8">
                                <p class="soffer_p soffer_p-org">Такое предложение мы делаем только один раз!</p>
                                <p class="soffer_p soffer_p-lrg">
                                    {{ offer.description }}
                                    <br> <s style="text-decoration-color: red">${{ offer.fullPrice }}</s> →
                                    <span
                                            style="font-size:larger;font-weight:bold">${{ offer.discountPrice }}</span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <button class="package_btn soffer_btn js-gotohref"
                                        {#data-href="https://sso.teachable.com/secure/127625/checkout/confirmation?product_id=903159&course_id=456695"#}>
                                    Получить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}


            {% if funnel.video %}
                <section id="block-video-4" class="block-video-section ccomf">
                    <div class="container container-mw">
                        <article class="win">
                            {% if funnel.videoText %}
                                <p class="ccomf_wh2">{{ funnel.videoText }}</p>
                            {% endif %}
                            {#<p class="ccomf_wh2">{{ funnel.oto1DescriptionTitle }}</p>
                            <p class="ccomf_wh2 sub-title">{{ funnel.oto1DescriptionSubTitle }}</p>#}
                            <div class="video-wrapper">
                                <div class="wistia-placeholder js-wistia-placeholder">
                                    {% if funnel.image %}
                                        {#700x467#}
                                        <img src="{{ funnel.image.fileUrl }}" class="img-responsive">
                                    {% endif %}
                                    <div class="playbtn"></div>
                                </div>

                                <div class="wistia_responsive_padding js-wistia-video"
                                     style="display:none;padding:56.25% 0 0 0;position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                         style="height:100%;left:0;position:absolute;top:0;width:100%;">

                                        <video controls style="height:100%;width:100%">
                                            <source src="{{ funnel.video.fileUrl }}">
                                            Your browser does not support the video tag.
                                        </video>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            {% endif %}

        {#{% if funnel.oto2Offer or funnel.oto2Link %}
            <section id="block-specialOfferSmall-5" class="block-specialOfferSmall-section section ccomf"
                     style="padding:0">
                <div class="container container-mw">
                    <div class="row">
                        <div class="soffer_bt dfc aic">
                            <div class="col-xs-12 col-md-8">
                                <p class="soffer_p soffer_p-org">Такое предложение мы делаем только один раз!</p>
                                <p class="soffer_p soffer_p-lrg">
                                    {{ funnel.oto2Description }}
                                    <br> <s style="text-decoration-color: red">${{ funnel.priceForTwoOtoOrigin }}</s> →
                                    <span style="font-size:larger;font-weight:bold">${{ funnel.priceForTwoOto }}</span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <button class="package_btn soffer_btn js-gotohref"
                                        data-href="https://sso.teachable.com/secure/127625/checkout/confirmation?product_id=903159&course_id=456695">
                                    Получить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {% if funnel.oto2Video %}
                <section id="block-video-6" class="block-video-section ccomf">
                    <div class="container container-mw">
                        <article class="win">
                            <p class="ccomf_wh2">{{ funnel.oto2DescriptionTitle }}</p>
                            <p class="ccomf_wh2 sub-title">{{ funnel.oto2DescriptionSubTitle }}</p>
                            <div class="video">
                                <div class="wistia-placeholder js-wistia-placeholder">
                                    {% if funnel.oto2Image %}
                                        #}{#700x368#}{#
                                        <img src="{{ funnel.oto2Image.fileUrl }}"
                                             class="img-responsive">
                                    {% endif %}
                                    <div class="playbtn"></div>
                                </div>
                                <div class="wistia_responsive_padding js-wistia-video"
                                     style="display:none;padding:56.25% 0 0 0;position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                         style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <video controls style="height:100%;width:100%">
                                            <source src="{{ funnel.oto2Video.fileUrl }}">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            {% endif %}
        {% endif %}#}

        <section id="author-block-7" class="author-block-section ccomf idea">
            <div class="container">
                <p class="ccomf_h1">Автор</p>
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        {% if funnel.course.owner.photo %}
                            {% set photo = funnel.course.owner.photo.fileUrl %}
                        {% else %}
                            {% set photo = '' %}
                        {% endif %}
                        {#https://webinar.heartbeat.education/app/uploads/2018/11/Slyadnev.jpg#}
                        <div class="idea_img" data-dadd="{{ photo }}" style="background-size: 100%;">
                        </div>
                        <div class="idea_wind">
                            <p class="idea_h1">{{ funnel.course.owner.firstName }} {{ funnel.course.owner.surname }}</p>
                            <div class="idea_text">
                                <div class="cont">
                                    <p>
                                        {{ funnel.course.owner.aboutInfo | raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# REPEAT price block 1 #}
       {# {% if funnel.oto1Offer or funnel.oto1Link %}
            <section id="block-specialOfferSmall-3" class="block-specialOfferSmall-section section ccomf"
                     style="padding:0">
                <div class="container container-mw">
                    <div class="row">
                        <div class="soffer_bt dfc aic">
                            <div class="col-xs-12 col-md-8">
                                <p class="soffer_p soffer_p-org">Такое предложение мы делаем только один раз!</p>
                                <p class="soffer_p soffer_p-lrg">
                                    {{ funnel.oto1Description }}
                                    <br> <s style="text-decoration-color: red">${{ funnel.priceForOneOtoOrigin }}</s> →
                                    <span
                                            style="font-size:larger;font-weight:bold">${{ funnel.priceForOneOto }}</span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <button class="package_btn soffer_btn js-gotohref"
                                        #}{#data-href="https://sso.teachable.com/secure/127625/checkout/confirmation?product_id=903159&course_id=456695"#}{#>
                                    Получить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}#}
        {# REPEAT price block 1 #}

        {#{% if funnel.oto3Offer or funnel.oto3Link %}
            <section id="block-specialOfferSmall-8" class="block-specialOfferSmall-section section ccomf"
                     style="padding:0">
                <div class="container container-mw">
                    <div class="row">
                        <div class="soffer_bt dfc aic">
                            <div class="col-xs-12 col-md-8">
                                <p class="soffer_p soffer_p-org">Такое предложение мы делаем только один раз!</p>
                                <p class="soffer_p soffer_p-lrg">
                                    {{ funnel.oto3Description }}
                                    <br> <s style="text-decoration-color: red">${{ funnel.priceForThreeOtoOrigin }}</s>
                                    →
                                    <span style="font-size:larger;font-weight:bold">${{ funnel.priceForThreeOto }}</span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-4 text-right">
                                <button class="package_btn soffer_btn js-gotohref"
                                        #}{#data-href="https://sso.teachable.com/secure/127625/checkout/confirmation?product_id=903159&course_id=456695"#}{#>
                                    Получить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if funnel.oto3Video %}
                <section id="block-video-6" class="block-video-section ccomf">
                    <div class="container container-mw">
                        <article class="win">
                            <p class="ccomf_wh2">{{ funnel.oto3DescriptionTitle }}</p>
                            <p class="ccomf_wh2 sub-title">{{ funnel.oto3DescriptionSubTitle }}</p>
                            <div class="video">
                                <div class="wistia-placeholder js-wistia-placeholder">
                                    {% if funnel.oto3Image %}
                                        <img src="{{ funnel.oto3Image.fileUrl }}" class="img-responsive">
                                    {% endif %}
                                    <div class="playbtn"></div>
                                </div>

                                <div class="wistia_responsive_padding js-wistia-video"
                                     style="display:none;padding:56.25% 0 0 0;position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                         style="height:100%;left:0;position:absolute;top:0;width:100%;">

                                        <video controls style="height:100%;width:100%">
                                            <source src="{{ funnel.oto3Video.fileUrl }}">
                                            Your browser does not support the video tag.
                                        </video>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            {% endif %}

        {% endif %}#}

        <script>
            hbApp = {segmentKey: "9gLabq64OdnTkwQkqTgA14gOHJkxNbU2"}
        </script>
    </main>
    <header>
        <div class="container">
            <div class="dfc aic">
                <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                    <div class="logo-holder">
                        <a class='logo-link' href="/">
                            <div class="logo-large">
                                <i class="logo_headicon icon-Logo-Znak"></i>
                                <p class="logo-text"><b>HeartBeat</b><br> education</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer id="footer">
        <div class="container ta-center">
            <div class="footer">
                <div class="footer_logo">
                    <i class="icon-Logo-Znak"></i>
                </div>
                <ul class="footer_links">
                    <li class="footer_item">
                        <a href="//heartbeat.education/p/about-us" target="_blank" class="footer_link">
                            О нас
                        </a>
                    </li>
                    <li class="footer_item">
                        <a href="//heartbeat.education/p/authors" target="_blank" class="footer_link">
                            Стать автором
                        </a>
                    </li>
                    <li class="footer_item">
                        <a href="//help.heartbeat.education" target="_blank" class="footer_link">
                            Поддержка
                        </a>
                    </li>
                </ul>
                <ul class="footer_links footer_links-light">
                    <li class="footer_item">
                        <a href="//heartbeat.education/p/terms" target="_blank" class="footer_link footer_link-light">Условия
                            использования</a>
                    </li>
                    <li class="footer_item">
                        <a href="//heartbeat.education/p/privacy" target="_blank" class="footer_link footer_link-light">Политика
                            конфиденциальности</a>
                    </li>
                    <li class="footer_item">
                        <a href="//heartbeat.education/p/intellectual" target="_blank"
                           class="footer_link footer_link-light">Интеллектуальная собственность</a>
                    </li>
                </ul>
                <p class="footer_link footer_link-light">Copyright © 2017 - 2019 Heartbeat, Inc.</p>
            </div>
        </div>
    </footer>
</div>
<div class="icon-load"></div>
<div id="registerForm" class="mfp-hide registerForm mfp-medium js-registerForm">
    <div class="modal-content ">
        <div class="modal-header">
            <h4 class="modal-title text-uppercase text-center">Регистрация на событие</h4>
        </div>
        <div class="modal-body">
            <form method="post" class="hf-form hf-form-794  modal_form" data-id="794"
                  data-title="Форма регистрации в 2 колонки (без маничата) [secret]"
                  data-slug="forma-registratsii-v-2-kolonki-bez-manichata-secret"
                  data-message-success="Thank you! We will be in touch soon."
                  data-message-invalid-email="Sorry, that email address looks invalid."
                  data-message-required-field-missing="Please fill in the required fields."
                  data-message-error="Oops. An error occurred."><input type="hidden" name="_hf_form_id" value="794"/>
                <div style="display: none;"><input type="text" name="_hf_h794" value=""/></div>
                <div class="hf-fields-wrap"><input type="hidden" class="js-postId" name="postId" value="">
                    <input type="hidden" name="time" value="0">
                    <input type="hidden" class="js-webinarId" name="webid" value="">
                    <input type="hidden" class="js-webinarName" name="webinarName" value="">
                    <input type="hidden" class="js-countryData" name="countryData" value="">
                    <input type="hidden" class="js-phonedata" name="phonedata" value="">
                    <div class="dfc">
                        <div class="wind_inpholder text-center">
                            <input type="text" class="wind_input" name="name" placeholder="Имя">
                        </div>
                    </div>
                    <div class="dfc">
                        <div class="wind_inpholder width-50">
                            <input type="text" class="wind_input js-phone" name="phone" placeholder="Телефон">
                        </div>
                        <div class="wind_inpholder width-50">
                            <input type="text" class="wind_input" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="mstop_btn">Занять место</button>
                    </div>
                    <noscript>Please enable JavaScript for this form to work.</noscript>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://webinar.heartbeat.education/app/cache/minify/042a2.js"></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var hf_js_vars = {"ajax_url": "https:\/\/webinar.heartbeat.education\/wp\/wp-admin\/admin-ajax.php"};
    /* ]]> */
</script>
<script type="text/javascript" src="https://webinar.heartbeat.education/app/cache/minify/30376.js"></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var ajax_func = {
        "ajax_url": "https:\/\/webinar.heartbeat.education\/wp\/wp-admin\/admin-ajax.php",
        "tpld": "https:\/\/webinar.heartbeat.education\/app\/themes\/heartwebinars"
    };
    /* ]]> */
</script>
<script type="text/javascript" src="https://webinar.heartbeat.education/app/cache/minify/b173e.js"></script>
</body>

</html>
