{% extends "@HBAdmin/layout.html.twig" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('hb.courses.list') }}">Продукты</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('hb.course.edit', {id: element.lesson.section.course.id}) }}">
                {{ element.lesson.section.course.info.title }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('hb.lesson_section.list', {id: element.lesson.section.course.id}) }}">
                Разделы
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('hb.lesson.edit', {id: element.lesson.id}) }}">
                {{ element.lesson.title }}
            </a>
        </li>
        <li class="breadcrumb-item active">
            Редактирование текста
        </li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            Редактирование текста
        </div>
        <div class="card-body">

            <form method="post" action="{{ path('hb.lesson_element.text.edit', {id: element.id}) }}">
                {{ form_widget(form) }}
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </form>

        </div>
    </div>

{% endblock %}