{% extends "@HBAdmin/layout.html.twig" %}

{% import '@HBAdmin/macros/view_link.html.twig' as demo_link %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('hb.courses.list') }}">Продукты</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('hb.course.edit', {id: course.id}) }}">{{ course.info.title }}</a>
        </li>
        <li class="breadcrumb-item">Воронки</li>
        <li class="breadcrumb-item">Партнерская программа</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            Редактировать партнера

        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button class="btn btn-success" type="submit">Добавить</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}